body{


}

.header-logotipo{

width: 150px;
height: 150px;
}
aside{
margin-top: 20px;
width: 200px;
height: 250px;
background: #eee;
padding: 10px 10px 10px 10px;
float: left;
}

header{

	margin-bottom: 10px;
}

.navbar-inverse{

background: #3893CA;
border-color: #3893AA;


}
.navbar-inverse .navbar-nav > li > a {
    color:#fff;
}

.navbar-inverse .navbar-brand {
    color: #205EA5;
}


.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: #FFF;
    background-color:  #205EA5;
}
.asside-right{
height: auto;	
width: 920px;
float: right;

}
textarea{
margin-top:8px; 
margin-left: 16px;
width: 870px !important;
}

.footer-bottom{
    color: #bbb;
    text-align: center;
    margin-top: 20px;
    margin-right:220px;
    float: right;
    width: 600px;
    height: 200px;
    
}